<nav style="position: sticky; top: 0; z-index: 1;" class="mt-0 pt-2 navbar-light bg-light">
  <div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()"
        >&times;</a
    >
    {% if user.is_authenticated %}
      <a href="{% url 'profile' %}">Profile</a>
      <a href="{% url 'assessment' %}">Assessment</a>
      <a href="{% url 'public_believes' %}">Public Believes</a>
      <a href="{% url 'category' %}">Category</a>
      <a href="{% url 'add_new_question' %}">Add New Question</a>
      <a href="{% url 'pending_questions' %}">Pending Questions</a>
      <a href="{% url 'download_certificate' %}">Download Certificate</a>
      <a href="{% url 'logout' %}">Logout</a>
    {% else %}
      <a href="{% url 'login' %}">Login</a>
      <a href="{% url 'register' %}">Register</a>
    {% endif %}
    
    
    {% if user.is_superuser %}
      <a href="{% url 'upload' %}">Upload Excel</a>
    {% endif %}
    
</div>
<!-- Use any element to open the sidenav -->
<div style="display: flex;" class="mt-2">
  <div onclick="openNav()" style="cursor: pointer;">
    <svg viewBox="0 0 100 80" width="40" height="20">
      <rect width="80" height="10"></rect>
      <rect y="30" width="80" height="10"></rect>
      <rect y="60" width="80" height="10"></rect>
    </svg>
  </div>
  <div class="mx-auto">
    <h2>
      <a href="{%url 'home'%}" style="text-decoration: none; color: black;">
        &nbsp  <!--This is white space-->
        <!--THE TRUTH VAULT-->
      </a>
    </h2>
  </div>
</div>
      
</nav>
  {% if messages %}
    {% for message in messages %}
        <div class="alert alert-warning text-center mt-1">
            {{ message }}
        </div>
    {% endfor %}
{% endif %}