{% extends 'truthlist/base.html' %}
{% load static %}
{% block content %}
<form class="container my-5">
    <h2 style ="text-align:center" class="">Truth List</h2>
    <table class="table mt-3">
        <thead style="position: sticky; top: 60px; z-index: 1; background-color: white;">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Question</th>
            <th scope="col">Your Believe</th>
            <th scope="col">Add to Certificate</th>
            <th scope="col">General public</th>
            <th scope="col">% Of public believes</th>
            <th scope="col">Total vote</th>
            <th scope="col">Total agree</th>
            <th scope="col">Total disagree</th>
            <th scope="col">Total no comment</th>
          </tr>
        </thead>
        <tbody>

            {% for data in questions %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ data.question }}</td>
                <td>
                    {% if data.answer == 'agree' %} 
                        Agree 
                    {% elif data.answer == 'disagree' %}
                        Disagree
                    {% else %}
                        No Comment
                    {% endif %}
                </td>
                <td>
                    <select class="form-select" aria-label="Default select example" onchange="add_to_certtificate(this.value, {{ data.id }})">
                        <option {% if data.add_to_certificate%} selected {% endif %} value="true">Yes</option>
                        <option {% if not data.add_to_certificate%} selected {% endif %} value="false">No</option>
                    </select>
                <td>
                    {{ data.general_public.0 }}
                </td>
                <td>
                    {{ data.general_public.1 }}%
                </td>
                <td>
                    {{ data.general_public.2 }}
                </td>
                <td>
                    {{ data.general_public.3 }}
                </td>
                <td>
                    {{ data.general_public.4 }}
                </td>
                <td>
                    {{ data.general_public.5 }}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</form>
<br><br><br><br><br>

<script>
    function add_to_certtificate(value, id){
        window.location.href = "/add_to_certificate/"+id+"/"+value;
    }
</script>

{% endblock %}